body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.line1{
    width: 60%;
    border-color: #555;
    margin-bottom: 10px;
}

.line2{
    width: 60%;
    border-color: #555;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

h1 {
    margin-bottom: 3px;

}

h1 span {
    color: yellow;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    background-color: #1e1e1e;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    color: #fff;
}

input::placeholder {
    color: #555;
}

button {
    background-color: yellow;
    color: #000;
    border: none;
    border-radius: 20px;
    margin-top: 30px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: #e6e600;
}

.loginUi hr{
    margin-bottom: 50px;
}

h2{
    font-size: 13px;
    font-weight: lighter;
}

h2 a{
    color: yellow;
    text-decoration: underline;
}

